.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: 'Manrope', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

main {
  background-color: hsl(218, 23%, 16%);
  padding: 1rem;
  margin: 15rem 2.5rem;
}

.advice-header {
  width: 80%;
  position: relative;
}

h1 {
  color: hsl(150, 100%, 66%);
  font-size: 12px;
  text-transform: uppercase;
}

.dice-btn {
  width: 80%;
  position: absolute;
  z-index: 1;
  bottom: -1.6em;
}

.btn {
  background-color: #52ffa8;
  border-radius: 50%;
  padding: 1rem;
  border: none;
}

.btn:hover {
  box-shadow: 0px 0px 9px 4px #52ffa8;
  animation: glow 1s linear infinite alternate;
}

@keyframes glow {
  to {
    box-shadow: 0px 0px 20px 10px #52ffa8;
  }
}

.quote {
  font-size: 28px;
  color: hsl(193, 38%, 86%);
  width: 80%;
  margin: auto;
}

.advice-container {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  background-color: hsl(217, 19%, 24%);
  width: 50%;
  height: 25rem;
  margin: 10rem auto;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 2.5rem;
  text-align: center;
  line-height: 1.6;
  box-shadow: 5px 10px 18px #242424;
}

.svg {
  margin-bottom: 3rem;
  width: 80%;
  position: relative;
}

.svg_web {
  height: 16px;
  width: 444px;
}

.svg_mobile {
  display: none;
}

.hr_line_web {
  fill: #4f5d74;
}

@media only screen and (max-width: 1000px) {
  body {
    background-color: hsl(218, 23%, 16%);
  }

  .attribution {
    color: white;
  }
  .attribution a {
    color: white;
  }

  .quote {
    font-size: 24px;
  }
}

@media only screen and (max-width: 850px) {
  .svg_web {
    display: none;
  }

  .svg_mobile {
    display: block;
    justify-content: center;
    width: 100%;
  }

  .quote {
    font-size: 18px;
  }

  .advice-container {
    width: 95%;
    margin: auto;
  }
}
