.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: 'Manrope', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

main {
  background-color: hsl(218, 23%, 16%);
  padding: 1rem;
  margin: 15rem 2.5rem;
}

h1 {
  color: hsl(150, 100%, 66%);
  font-size: 12px;
  text-transform: uppercase;
}

.btn {
  background-color: #52ffa8;
  border-radius: 50%;
  padding: 1rem;
  border: none;
}

.btn:hover {
  box-shadow: 0px 0px 9px 4px #52ffa8;
  animation: glow 1s linear infinite alternate;
}

@keyframes glow {
  to {
    box-shadow: 0px 0px 20px 10px #52ffa8;
  }
}

.quote {
  font-size: 28px;
  color: hsl(193, 38%, 86%);
}
.advice-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: hsl(217, 19%, 24%);
  width: 50%;
  height: 25rem;
  margin: 10rem auto;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 2.5rem;
  text-align: center;
  line-height: 1.6;
}

.svg {
  padding: 1.5rem;
}

.hr_line {
  fill: #4f5d74;
}

@media only screen and (max-width: 375px) {
  body {
    background-color: hsl(218, 23%, 16%);
  }
}
